openapi: 3.0.0
info:
  title: Yimba Security
  version: 1.0.0
  description: "The Yimba Security Service manages your access to the Yimba API's and will issue a bearer token that is valid for a 24 hour period."
servers:
  - url: 'https://security.yimbatech.com/apitoken'
paths:
  /apitoken:
    post:
      summary: Request Security Token
      operationId: post-apitoken
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_in:
                    type: string
                  token_type:
                    type: string
              examples:
                Example Response:
                  value:
                    access_token: Token Data
                    expires_in: 86400
                    token_type: Bearer
      description: 'This endpoint allows you to send a POST request with your **Client Authentication ID** and **Client Passkey** which are issued to you by Yimba. In order to ensure correct authentication, POST requests must be made with the exact Audience data in the request body as show below'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                audience:
                  type: string
                grant_type:
                  type: string
            examples:
              Example Request:
                value:
                  client_id: Your Client Access ID
                  client_secret: Your Client Passkey
                  audience: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ5aW1iYVBsYXRmb3JtIjoieWltYmEtc2VjdXJpdHkifQ.q7r76PsKS01nMJLIN8Wbn5xhZJ9S3wQsgyP9TdOSpV8
                  grant_type: client_credentials
        description: ''
      tags:
        - Get API Token
components:
  schemas: {}
  securitySchemes: {}
